<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1> Hello ! <%= @user.first_name %> <%= @user.last_name %>!</h1>

    <p>
       YOur account: <%= @user.email %> need to be approved!
    </p>
    <p>
      Link to our website <a href="localhost:3000/" > CommunityConnector</a>
    </p>
    <p> Tshussi ! </p>
  </body>
</html>
